<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<a href="/auth">add account vk</a>
<form method="POST" action="/login">
    <p>полный url паблика</p>
    <input type="text" name="id" />
    <p>папка для ресурсов</p>
    <input type="text" name="root" />
    <p>кол-во постов</p>
    <input type="number" name="count" />

    <button type="submit">начать парсинг</button>
    <br />
    <hr />
    <br />
    минимум лайков
    <input type="number" name="likes" value="0" />
    минимум репостов
    <input type="number" name="repost" value="0" />
</form>

</body>
</html>